body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://i.pinimg.com/originals/71/67/3d/71673dea7d639d8f3e47b8752e1ff6d6.jpg');
    background-size: cover;       /* Ensure the image covers the entire page */
    background-position: center;  /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    height: 100vh;                /* Make sure the body takes full height */
}

.list-container {
    width: 500px;
    min-height: 500px;
    margin: 100px auto;
    padding: 20px;
    background: rgb(249, 177, 252);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
  }

.h1 {
    font-family: 'Roboto', cursive;
    font-size: 3rem;
    font-weight: bolder;
    text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.63);
}

.inputTask {
    width: 50%;
    margin: 20px;
    padding: 3px;
    border-radius: 5px;
}

.ulTasks {
    margin: 20px;
    font-size: 20px;
    list-style-type: none;
}

.liTask {
    background: rgb(252, 204, 253);
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    font-size: 18px;
    text-align: left;
  }

.delete-button {
    float: right;
    background: none;
    border: none;
    color: #000000;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
}

.taskItem {
    cursor: pointer;
}

.tasks-count {
    font-family: 'Roboto', cursive;
    font-size: 1.5rem;
}